<h1 class="page-header">History</h1>

<!-- Graphic -->
<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Graphic
            </div>
            <!-- .panel-heading -->
            <div id="graph" class="panel-body">
              
              <div class="row">
                <div class="col-md-12">
                  <div style="display: block;">
                    <canvas baseChart 
                                [datasets]="lineChartData"
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions"
                                [colors]="lineChartColors"
                                [legend]="lineChartLegend"
                                [chartType]="lineChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
              </div>

          </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-7 -->

    <!-- Limits -->
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              Limits
          </div>
          <!-- .panel-heading -->
          <div class="panel-body">
            <!-- Initial -->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                  <label>Initial time:</label>
                  <input [(ngModel)]="model.init" title={{model.init}}  data-toggle="popover" data-trigger="hover" type="date" class="form-control">
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                  <label>Hour:</label>
                  <input [(ngModel)]="model.hourI" title={{model.hourI}}  data-toggle="popover" data-trigger="hover" type="number" class="form-control">
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                  <label>Min:</label>
                  <input [(ngModel)]="model.minI" title={{model.minI}}  data-toggle="popover" data-trigger="hover" type="number" class="form-control">
                </div>
              </div>
            </div>
            <!-- /Initial-->
            <!-- Final -->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                  <label>Finish time:</label>
                  <input [(ngModel)]="model.finish" title={{model.finish}}  data-toggle="popover" data-trigger="hover" type="date" class="form-control">
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                  <label>Hour:</label>
                  <input [(ngModel)]="model.hourF" title={{model.hourF}}  data-toggle="popover" data-trigger="hover" type="number" class="form-control">
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                  <label>Min:</label>
                  <input [(ngModel)]="model.minF" title={{model.minF}}  data-toggle="popover" data-trigger="hover" type="number" class="form-control">
                </div>
              </div>
            </div>
            <!-- /Final-->

            <!-- Button Do Graphic -->
              <div class="row">
                <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-6 col-xs-offset-6">
                  <a (click)="updateMetrics()" class="btn btn-block btn-social btn-editR" title="Update Graphic" data-toggle="popover" data-trigger="hover">
                      <i class="fa fa-plus-square"></i> Update Graphic
                  </a>
                </div>
              </div>
              <!-- /Button Do Graphicr-->
          </div>
      </div>
    </div>
    <!-- /Limits -->
</div>
<!-- /.row -->

<!-- Add Sensors -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Graphic
            </div>
            <!-- .panel-heading -->
            <div class="panel-body">

              <div class="row">
              <form class="form-horizontal" (ngSubmit)="f.form.valid && addSensor()" #f="ngForm" novalidate>
                <!-- Sensor of Graphic -->
                
                  <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1">
                    
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !zoneS.valid}">
                      <label>Zone</label>
                      <select (ngModelChange)="getSensors($event)" class="form-control" name="zoneS" id="idzoneS" [(ngModel)]="model.zoneS" #zoneS="ngModel" required>
                        <option *ngFor="let z of zones">{{z.name}}</option>
                      </select>
                      <div *ngIf="f.submitted && !zoneS.valid" class="help-block">Zone is required</div>
                    </div>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !sensorS.valid }">
                      <label>Sensor</label>
                      <select class="form-control" name="sensorS" id="idsensorS" [(ngModel)]="model.sensorS" #sensorS="ngModel" required>
                        <option *ngFor="let s of sensors">{{s.name}}</option>
                      </select>
                      <div *ngIf="f.submitted && !sensorS.valid" class="help-block">Sensor is required</div>
                    </div>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <span id="deleteS" class="fa fa-times" title="Delete sensor of graphic" data-toggle="popover" data-trigger="hover"></span>
                  </div>
                
                <!-- /Sensor of Graphic -->
              

                <!-- Button Add Sensor -->
                <div class="row">
                  <div class="col-lg-4 col-lg-offset-7 col-md-4 col-md-offset-7 col-sm-4 col-sm-offset-7 col-xs-4 col-xs-offset-7">
                    <button type="submit" class="btn btn-block btn-social btn-editR">
                        <i class="fa fa-plus-square"></i> Add Sensor
                    </button>
                  </div>
                </div>
                
                <!-- /Button Sensor-->
              </form>
              </div>

            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

