#zonesL{
    border: 2px solid gray;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#zonesL:hover{
    border: 2px solid #4d4d4d;
}