<h1 class="page-header">Zones</h1>

<div class="chat-panel panel panel-default">
    <div class="panel-heading " >
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        Zone
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        Type of Zone
      </div>
      <br>
    </div>
    <!-- .panel-heading -->
    <div class="panel-body">
        <ul *ngFor="let z of zones" class="chat">
          <li>
            <div id="zoneS" class="chat-body clearfix " (click)="sensorDetails(z)" title="See this zone" data-toggle="popover" data-trigger="hover">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                {{z.description}}
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <span *ngIf="z.type==0" class="fa fa-picture-o"></span><span *ngIf="z.type==1" class="fa fa-home"></span> {{typeZone(z.type)}}
              </div>
            </div>
          </li>
        </ul>
      <!--/div-->
    </div>
    <!-- .panel-body -->
    <div class="panel-footer">
          <!-- Search -->    
          <div class="input-group custom-search-form">
              <input type="text" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                      <i class="fa fa-search"></i>
                  </button>
              </span>
          </div>
          <!-- /Search -->
      </div>
      <!-- /.panel-footer -->
</div>
