<h1 class="page-header">Create User</h1>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
          Register User
        </div>
        <!-- .panel-heading -->
        <div class="panel-body">
          <!-- Email -->
          <br>
          <div class="row">
            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
              <label>Email</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <input type="email" class="form-control" placeholder="Ex: jaquim@hotmail.com">
            </div>
          </div>
          <!-- /Email -->

          <!-- Is Admin -->
          <br>
          <div class="row">
            <div class="col-lg-2 col-lg-offset-4 col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-2 col-xs-offset-4">
              <div class="form-group">
                  <label class="checkbox-inline">
                      <input type="checkbox">Admin
                  </label>
              </div>
            </div>
          </div>
          <!-- /Is Admin -->

          <!-- Confirm Button -->
          <div class="row">
            <div class="col-lg-4 col-lg-offset-6 col-md-4 col-md-offset-6 col-sm-4 col-sm-offset-6 col-xs-4 col-xs-offset-6">  
              <!-- Button Add Sensor -->
              <a class="btn btn-block btn-social btn-registerR" >
                  <i class="fa fa-plus-square"></i> Register
              </a>
              <!-- /Button Add Sensor-->
            </div>
          </div>
          <br>
          <!-- /Confirm Button -->

        </div>
        <!-- .panel-body -->
    </div>
  </div>
</div>