<h1 class="page-header">Users</h1>

<!-- Add User -->
<div class="row">
    <div class="col-lg-4 col-lg-offset-8 col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8 col-xs-7 col-xs-offset-5">  
      <!-- Button Add User -->
      <a class="btn btn-block btn-social btn-registerR" [routerLink]="['/users','new']">
          <i class="fa fa-plus-square"></i> Add User
      </a>
    </div>
    <!-- /Button Add user-->
</div>
<br>
<!-- /Add User -->
<alert></alert>
<div class="chat-panel panel panel-default">
    <div class="panel-heading">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        Email
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        Type
      </div>
      <br>
    </div>
    <!-- .panel-heading -->
    <div class="panel-body">
      <div *ngFor="let u of users | FilterPipe: model.queryString; let i = index">
        <ul class="chat">
          <li data-toggle="popover" data-trigger="hover" class="left clearfix" >
          <!--div id="usersL" class="row" (click)="sensorDetails(u)"-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              {{u.email}}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <span *ngIf="u.admin==true" class="fa fa-user"></span><span *ngIf="u.admin==true" class="fa fa-cogs"></span><span *ngIf="u.admin==false" class="fa fa-user"></span><span *ngIf="u.admin==false" class="fa fa-eye"></span>&emsp;{{u.type}}
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
              <span (click)="removeUser(u,i)" id="deleteS" class="fa fa-times" title="Delete user" data-toggle="popover" data-trigger="hover"></span>
            </div>
          </li>
          <!--/div-->
        </ul>
      </div>
    </div>
    <!-- .panel-body -->
    <div class="panel-footer">
        <!-- Search -->    
        <form name="form" (ngSubmit)="f.form.valid && addTeam()" #f="ngForm" novalidate>
          <div class="input-group custom-search-form" [ngClass]="{ 'has-error': f.submitted && !queryString.valid }">
              <input type="text" class="form-control" name="queryString" id="queryString" [(ngModel)]="model.queryString" value="" #queryString="ngModel" placeholder="Search...">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                      <i class="fa fa-search"></i>
                  </button>
              </span>
          </div>
        </form>
        <!-- /Search -->
    </div>
    <!-- /.panel-footer -->
</div>