<h1 class="page-header">Edit Row</h1>

<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <!-- Delete Graphic -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <!-- Button Delete -->
        <br>
        <a class="btn btn-block btn-social btn-deleteG">
            <i class="fa fa-times"></i> Delete Graphic
        </a>
        <!-- /Button Delete-->
      </div>

      <!-- Range2 -->
      <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
        <div class="form-group">
          <label>Range 2</label>
          <select class="form-control">
            <option>Refresh every 5 sec</option>
            <option>Refresh every 10 sec</option>
            <option>Refresh every 15 sec</option>
          </select>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Graphics -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- .panel-heading -->
            <div class="panel-body">

              <!-- Button Add >
              <div class="row">
                <div class="col-lg-4 col-lg-offset-8 col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8 col-xs-4 col-xs-offset-8">
                  <a class="btn btn-block btn-social btn-editR">
                      <i class="fa fa-plus-square"></i> Add Graphic
                  </a>
                </div>
              </div-->
              <!-- /Button Add-->

              <!-- Graphics -->
              <br>
              <div class="row">
                <div class="col-lg-12">
                  <div id="painel" class="panel-body">
                    <dashboard-item-grafic (graphicSelect)="graphicSelect()" *ngFor="let g of row.grafics; let i =index" [grafic]="g" [timestamp]="timestamp"></dashboard-item-grafic>
                    <div id="border" class="col-md-4">
                      <div id="graph2" class="panel-body"> 
                        <div style="display: block;">
                          <i style="height:200px" class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Edit selected -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Graphic
            </div>
            <!-- .panel-heading -->
            <div class="panel-body">

              <!-- Sensor of Graphic -->
              <div class="row">
                <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1">
                  <label>Zone</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <select class="form-control">
                      <option>Campo1</option>
                      <option>Campo2</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  <label>Sensor</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <select class="form-control">
                      <option>Sensor1</option>
                      <option>Sensor2</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  <span id="deleteS" class="fa fa-times"></span>
                </div>
              </div>
              <!-- /Sensor of Graphic -->

              <!-- Button Add Sensor -->
              <div class="row">
                <div class="col-lg-4 col-lg-offset-7 col-md-4 col-md-offset-7 col-sm-4 col-sm-offset-7 col-xs-4 col-xs-offset-7">
                  <a class="btn btn-block btn-social btn-editR">
                      <i class="fa fa-plus-square"></i> Add Sensor
                  </a>
                </div>
              </div>
              <!-- /Button Sensor-->

            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->