<h1 class="page-header">Register sensor</h1>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
          Create a new sensor
        </div>
        <!-- .panel-heading -->
        <div class="panel-body">
          <form class="form-horizontal" (ngSubmit)="f.form.valid && createSensor()" #f="ngForm" novalidate>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nameS.valid }">
                <!-- Name -->
                <br>
                <div class="row">
                  <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
                    <label>Name</label>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <input type="text" name="nameS" id="idnameS" [(ngModel)]="model.nameS" #nameS="ngModel" required class="form-control" placeholder="Ex: Sensor XPTO">
                    <div *ngIf="f.submitted && !nameS.valid" class="help-block">Name is required</div>
                  </div>
                </div>
                <!-- /Name -->
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !descS.valid }">
                <!-- Desciption -->
                <br>
                <div class="row">
                  <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
                    <label>Desciption</label>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <textarea class="form-control" placeholder="Ex: Sensor is ..." name="descS" id="iddescS" [(ngModel)]="model.descS" #descS="ngModel" required></textarea>
                    <div *ngIf="f.submitted && !descS.valid" class="help-block">Description is required</div>
                  </div>
                </div>
                <!-- /Description -->
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !hostnameS.valid }">
                <!-- Hostname -->
                <br>
                <div class="row">
                  <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
                    <label>Hostname</label>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <input type="text" class="form-control" placeholder="Ex: hostname.com" name="hostnameS" id="idhostnameS" [(ngModel)]="model.hostnameS" #hostnameS="ngModel" required>
                    <div *ngIf="f.submitted && !hostnameS.valid" class="help-block">Hostname is required</div>
                  </div>
                </div>
                <!-- /Hostname -->
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !min.valid && !max.valid }">
                <!-- Range -->
                <br>
                <div class="row">
                  <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
                    <label>Range</label>
                  </div>
                  
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label>Min:</label>
                    <input type="number" class="form-control"  name="min" id="idmin" [(ngModel)]="model.min" #min="ngModel" required>
                    <div *ngIf="f.submitted && !min.valid" class="help-block">Min is required</div>
                  </div>
                
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label>Max:</label>
                    <input type="number" class="form-control"  name="max" id="idmax" [(ngModel)]="model.max" #max="ngModel" required>
                    <div *ngIf="f.submitted && !max.valid" class="help-block">Max is required</div>
                  </div>
                </div>
                <!-- /Range -->
                </div>

              <div *ngIf="typeZone==1" class="form-group" [ngClass]="{ 'has-error': f.submitted && !lat.valid && !long.valid}">
                <!-- Lat/Long -->
                <br>
                <div class="row">
                  <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
                    <label>Location</label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label>Latitude:</label>
                    <input type="number" class="form-control" name="lat" id="idlat" [(ngModel)]="model.lat" #lat="ngModel" required>
                    <div *ngIf="f.submitted && !lat.valid" class="help-block">Latitude is required</div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label>Longitude:</label>
                    <input type="number" class="form-control" name="long" id="idlong" [(ngModel)]="model.long" #long="ngModel" required>
                    <div *ngIf="f.submitted && !long.valid" class="help-block">Longitude is required</div>
                  </div>
              </div>
                <!-- /Lat/Long -->
              </div>

                <!-- Confirm Button -->
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3 col-lg-offset-7 col-md-3 col-md-offset-7 col-sm-3 col-sm-offset-7 col-xs-3 col-xs-offset-7">  
                    <!-- Button Add Sensor -->
                    <button type="submit" class="btn btn-block btn-social btn-registerR" >
                        <i class="fa fa-plus-square"></i> Register
                    </button>
                    <!-- /Button Add Sensor-->
                  </div>
                </div>
                <br>
                <!-- /Confirm Button -->
              </div>
          </form>
        </div>
        <!-- .panel-body -->
    </div>
  </div>
</div>