<div id="wrapper">

      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" [routerLink]="['/']">SONAR</a>
          </div>
          <!-- /.navbar-header -->

          <ul  class="nav navbar-top-links navbar-right">
              <li  class="dropdown"  *ngIf="isLogged()">
                  <a class="dropdown-toggle" data-toggle="dropdown" href=#>
                      <i *ngIf="notNotReaded.length!=0" class="badge badge-notify">{{notNotReaded.length}}</i> <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                  </a>
                  <ul *ngIf="isLogged()" class="dropdown-menu dropdown-alerts" >
                        <div id="pH" class="panel-heading">
                            Notifications
                        </div>
                        <div id="listNot" class="panel-body">
                            <li *ngIf="notNotReaded.length==0">
                                <i id='inf' class="fa fa-info" aria-hidden="true"></i> No new notification
                            </li>
                            <li *ngFor="let not of notNotReaded; let i=index">
                                <a id="l" (click)="notRead(not,i)" title="Read this notification" data-toggle="popover" data-trigger="hover">
                                    <div>
                                        <i class="fa fa-bullhorn"></i> {{not.sensorName}}: {{not.value}}db
                                        <!--span class="pull-right text-muted small">{{not.timestamp}}</span-->
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i> {{timeToNow(not.timestamp)}} mins ago 
                                        </small>
                                    </div>
                                </a>
                                <div class="divider"></div>
                            </li>
                        </div>
                        <div id="pF" class="panel-footer">
                            <a (click)="seeall()" class="text-center" [routerLink]="['/notifications']">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                  </ul>
                  <!-- /.dropdown-alerts -->
              </li>
              <!-- /.dropdown -->
              <li title="User Profile / Logout" data-toggle="popover" data-trigger="hover" class="dropdown" *ngIf="isLogged()">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <ul  *ngIf="isLogged()" class="dropdown-menu dropdown-user" >
                      <li title="User Profile" data-toggle="popover" data-trigger="hover" >
                          <a [routerLink]="['/profile']"><i class="fa fa-user fa-fw"></i> User Profile</a>
                      </li>
                      <li class="divider"></li>
                      <li title="Logout" data-toggle="popover" data-trigger="hover">
                          <a [routerLink]="['']" (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                      </li>
                  </ul>
                  <!-- /.dropdown-user -->
              </li>
              <!-- /.dropdown -->
          </ul>
          <!-- /.navbar-top-links -->

          <div *ngIf="isLogged()" class="navbar-default sidebar" role="navigation">
              <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu">
                      <li>
                          <a [routerLink]="['/dashboard']" *ngIf="isLogged()"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                      </li>
                      <li>
                          <a [routerLink]="['/history']" *ngIf="isLogged()"><i class="fa fa-history fa-fw"></i> History</a>
                      </li>
                      <li>
                          <a [routerLink]="['/zones']" *ngIf="isLogged()"><i class="fa fa-map-marker fa-fw"></i> Zones</a>
                      </li>
                      <li>
                          <a [routerLink]="['/users']" *ngIf="isLogged() && getType()"><i class="fa fa-users fa-fw"></i> Users</a>
                      </li>
                  </ul>
              </div>
              <!-- /.sidebar-collapse -->
          </div>
          <!-- /.navbar-static-side -->
      </nav>

      <!-- Page Content -->
      <div id="page-wrapper">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12">
                      <!--login *ngIf="!isLogged()"></login-->
                      <router-outlet></router-outlet>
                  </div>
                  <!-- /.col-lg-12 -->
              </div>
              <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
      </div>
      <!-- /#page-wrapper -->

  </div>

  <!--login *ngIf="!isLogged()"></login-->

