.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-editR{color:#fff;background-color:green;border-color:rgba(0,0,0,0.2)}.btn-editR:hover,.btn-editR:focus,.btn-editR:active,.btn-editR.active,.open>.dropdown-toggle.btn-editR{color:#fff;background-color:darkgreen;border-color:rgba(0,0,0,0.2)}
.btn-editR:active,.btn-editR.active,.open>.dropdown-toggle.btn-editR{background-image:none}
.btn-editR.disabled,.btn-editR[disabled],fieldset[disabled] .btn-editR,.btn-editR.disabled:hover,.btn-editR[disabled]:hover,fieldset[disabled] .btn-editR:hover,.btn-editR.disabled:focus,.btn-editR[disabled]:focus,fieldset[disabled] .btn-editR:focus,.btn-editR.disabled:active,.btn-editR[disabled]:active,fieldset[disabled] .btn-editR:active,.btn-editR.disabled.active,.btn-editR[disabled].active,fieldset[disabled] .btn-editR.active{background-color:green;border-color:rgba(0,0,0,0.2)}
.btn-editR .badge{color:green;background-color:#fff}

.btn-editR     { background-color: green; }

#deleteS{
    color: red;
    cursor: pointer;
    margin-top: 30px;
}
#deleteS:hover{
    color: #990000;
}
#pBodyS{
    height: 200px;
}
