<h1 class="page-header">External Zone</h1>

<div class="row">
  <div class="col-lg-12">
    <div class="row">

      <!-- Map and Sensor Info -->
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        
        <!-- Map -->
        <br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
                Map
            </div>
            <!-- .panel-heading -->
            <div id="mapPanelBody" class="panel-body">
              <!--agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map-->
              <agm-map 
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [disableDefaultUI]="false"
                [zoomControl]="false">
              
                <agm-marker 
                    *ngFor="let m of sensors; let i = index"
                    [latitude]="m.latitude"
                    [longitude]="m.longitude"
                    [label]="toString(i)"
                    (dragEnd)="markerDragEnd(m, $event)">
                    
                  <agm-info-window>
                    <strong>{{m.name}}</strong>
                  </agm-info-window>
                  
                </agm-marker>

              </agm-map>
            </div>
            <!-- .panel-body -->
          </div>
          <!-- /Map-->
        </div>

        <!-- Sensor info -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
                Sensor Info
            </div>
            <!-- .panel-heading -->
            <div class="panel-body">
              <strong>{{sensorSelected.name}}:</strong> Local ({{sensorSelected.latitude}}º,{{sensorSelected.longitude}}º)
              <br>
              <button *ngIf="active()" type="button" class="btn btn-outline btn-success btn-xs" (click)="refresh()" title="refresh" data-toggle="popover" data-trigger="hover">
                <i class="fa fa-refresh" aria-hidden="true"></i> ACTIVE Updated at {{timeAux()}}
              </button>
              <button *ngIf="active()" type="button" class="btn btn-danger btn-xs" (click)="turnOff()" title="TurnOff" data-toggle="popover" data-trigger="hover">
                <i class="fa fa-power-off" aria-hidden="true"></i>
              </button>
              <button *ngIf="!active()" type="button" class="btn btn-outline btn-danger btn-xs" (click)="refresh()" title="refresh" data-toggle="popover" data-trigger="hover">
                <i class="fa fa-refresh" aria-hidden="true"></i> INACTIVE Updated at {{timeAux()}}
              </button>
              <button *ngIf="!active()" type="button" class="btn btn-success btn-xs" (click)="activeNow()" title="TurnOn" data-toggle="popover" data-trigger="hover">
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>
            </div>
            <!-- .panel-body -->
          </div>
        </div>
        <!-- /Sensor Info -->

        <!-- Edit Sensor -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <a class="btn btn-block btn-social btn-editR" [routerLink]="['/zones','external',zoneId,'sensor',sensorSelected.id]" title="Edit Sensor" data-toggle="popover" data-trigger="hover">
              <i class="fa fa-pencil-square-o"></i> Edit Sensor
          </a>
        </div>
        <!-- /Edit Sensor -->
      </div>

      <!-- Sensors -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <br>
        <!-- Button Add Sensor -->
        <a class="btn btn-block btn-social btn-registerR" [routerLink]="['/zones','external',zoneId,'new']" title="Register Sensor" data-toggle="popover" data-trigger="hover">
            <i class="fa fa-plus-square"></i> Register Sensor
        </a>
        <!-- /Button Add Sensor-->

        <br>
        <!-- Search -->
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <!-- /Search -->

        <br>
        <!-- SensorsList -->
        <div class="chat-panel panel panel-default">
          <div class="panel-heading">
            Sensors
          </div>
          <!-- .panel-heading -->
          <div id="listS" class="panel-body">
              <ul class="chat" *ngFor="let s of sensors; let i = index">
                <li class="clearfix">
                  <div id="sensorL" class="row" (click)="sensorChoise(s)">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" title="Select sensor" data-toggle="popover" data-trigger="hover">
                      <i id="idS" class="fa fa-microphone"></i> ({{i}}) {{s.name}}
                    </div>
                  </div>
                </li>
              </ul>
          </div>
          <!-- .panel-body -->
        </div>
        <!-- /SensorsList -->
      </div>
      <!-- /Sensors -->

    </div>
  </div>
</div>
