<h1 class="page-header">Edit Row</h1>
<div class="row">
  <div *ngIf="removegraphic" class="col-md-12">
    <div class="alert alert-success" role="alert">Graphic successfully removed</div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <!-- Delete Graphic -->
      <div class="col-lg-3 col-lg-offset-9 col-md-3 col-md-offset-9 col-sm-5 col-sm-offset-7 col-xs-8 col-xs-offset-4">
        <br>
        <!-- Button Delete -->
        <a (click)="deleteGraphic()" class="btn btn-block btn-social btn-deleteG">
            <i class="fa fa-times"></i> Delete Graphic
        </a>
        <!-- /Button Delete-->
      </div>
    </div>
  </div>
</div>
<br>

<!-- Graphics -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- .panel-heading -->
            <div class="panel-body">

              <!-- Graphics -->
              <br>
              <div class="row">
                <div class="col-lg-12">
                  <div id="painel" class="panel-body">
                    <dashboard-itemgraficeditcomponent (graphicSelect)="graphicSelect()" *ngFor="let g of row.grafics; let i =index" [grafic]="g" [timestamp]="timestamp"></dashboard-itemgraficeditcomponent>
                    <!-- Button Add Sensor -->
                    <div class="col-md-12">
                      <button id="addGraphic" (click)="createGraphic()" class="btn btn-block" title="Add Graphic"  data-toggle="popover" data-trigger="hover">
                          <i class="fa fa-plus-square"></i>
                      </button>
                    </div>
                    <!-- /Button Sensor-->
                  </div>
                </div>
              </div>

            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
        <div *ngIf="numberGraphic() >=3" class="row">
          <div class="col-lg-3 col-lg-offset-9 col-md-3 col-md-offset-9 col-sm-5 col-sm-offset-7 col-xs-8 col-xs-offset-4">
            <!-- Button Delete -->
            <a (click)="deleteGraphic()" class="btn btn-block btn-social btn-deleteG">
                <i class="fa fa-times"></i> Delete Graphic
            </a>
            <!-- /Button Delete-->
            <br>
          </div>
        </div>
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Edit selected -->
<div class="row" *ngIf="graficSelectNow">
    <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                Edit Graphic
              </div>
            </div>
          </div>
            <!-- .panel-heading -->
            <div class="panel-body">
              <!-- Sensor of Graphic -->
              <li class="left clearfix" *ngFor="let line of aux2; let i=index">
                  <dashboard-edit-metric (metricNewComming)="metricNew($event)" (removeMetric)="removeMetricGraphic($event)" [index]="i" [metric]=line [zones]="zones" [sensorzones]="sensor_zones"></dashboard-edit-metric>    
              </li>
              <!-- /Sensor of Graphic -->

            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->