<form class="form-horizontal" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                
    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-9 col-xs-offset-1">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !zoneS.valid}">
        <label>Zone</label>
        <select (ngModelChange)="getMetrics($event)" class="form-control" name="zoneS" id="idzoneS" [(ngModel)]="model.zone"  required>
          <option *ngFor="let z of zones" [value]="z.id">{{z.name}}</option>
        </select>
        <div *ngIf="f.submitted && !zoneS.valid" class="help-block">Zone is required</div>
      </div>
    </div>

    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-9 col-xs-offset-1">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !sensorS.valid }">
        <label>Sensor</label>
        <select (ngModelChange)="getSensor($event)" class="form-control" name="sensorS" id="idsensorS" [(ngModel)]="model.sensor" required>
          <option *ngFor="let s of sensors" [value]="s.id">{{s.name}}</option>
        </select>
        <div *ngIf="f.submitted && !sensorS.valid" class="help-block">Sensor is required</div>
      </div>
    </div>

</form>