
<h1 class="page-header">Edit sensor</h1>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
          Edit sensor
        </div>
        <!-- .panel-heading -->
        <div class="panel-body">
          <!-- Name -->
          <br>
          <div class="row">
            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
              <label>Name</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <input type="text" class="form-control" placeholder="Ex: Sensor XPTO">
            </div>
          </div>
          <!-- /Name -->

          <!-- Desciption -->
          <br>
          <div class="row">
            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
              <label>Desciption</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <textarea class="form-control" placeholder="Ex: Sensor is ..."></textarea>
            </div>
          </div>
          <!-- /Description -->

          <!-- Range -->
          <br>
          <div class="row">
            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
              <label>Range</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                  <label>Min:</label>
                  <input type="number" class="form-control">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                  <label>Max:</label>
                  <input type="number" class="form-control">
                </div>
            </div>
          </div>
          <!-- /Range -->

          <!-- Confirm Button -->
          <br>
          <div class="row">
            <div class="col-lg-3 col-lg-offset-7 col-md-3 col-md-offset-7 col-sm-3 col-sm-offset-7 col-xs-3 col-xs-offset-7">  
              <!-- Button Add Sensor -->
              <a class="btn btn-block btn-social btn-registerR">
                  <i class="fa fa-floppy-o"></i> Save
              </a>
              <!-- /Button Add Sensor-->
            </div>
          </div>
          <br>
          <!-- /Confirm Button -->

        </div>
        <!-- .panel-body -->
    </div>
  </div>
</div>